version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: nestjs_cqrs_postgres
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: nestjs_cqrs_starter
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

